[Unit]
Description=Gamma Store web service
Requires=postgresql.service
After=postgresql.service NetworkManager-wait-online.target
Wants=postgresql.service

[Service]
Type=simple
WorkingDirectory=/home/alarm/dev/go/src/github.com/bytting/gamma-store
ExecStart=/home/alarm/dev/go/src/github.com/bytting/gamma-store/gamma-store
Restart=on-abort

[Install]
WantedBy=multi-user.target
